# Copia este archivo a terraform.tfvars y rellena con tus valores

aws_region           = "us-east-1"
github_repository_id = "tu-usuario-github/nombre-repositorio"
github_branch        = "main"
aws_account_id       = "123456789012"
